@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
ul
	list-style-type: none

.img-responsive
	display: block
	max-width: 100%
	height: auto

.toggle_mnu
	width: 50px
	height: 50px
	z-index: 1000
	border-radius: 2px
	opacity: .6
	border: none
	position: absolute
	top: 0
	right: 50%
	transform: translateX(50%)
	outline: none
	span
		display: block

$w: 35px
$h: 3px

.sandwich
	width: $w
	height: $w
	position: absolute
	top: 8px
	bottom: 0
	left: 0
	right: 0
	margin: auto
	z-index: 200



.sw-topper
	position: relative
	top: 0
	width: $w 
	height: $h
	background: rgb(255, 255, 255)
	border: none
	border-radius: 4px 4px 4px 4px
	transition: transform 0.5s, top 0.2s
	
	
	/* transition-delay: 0.2s, 0s */



.sw-bottom
	position: relative
	width: $w
	height: $h
	top: $h * 3
	background: rgb(255, 255, 255)
	border: none
	border-radius: 4px 4px 4px 4px
	transition: transform 0.5s, top 0.2s
	transition-delay: 0.2s, 0s 
	
	

.sw-footer
	position: relative
	width: $w
	height: $h
	top: $h * 5.5
	background: rgb(255, 255, 255)
	border: none
	border-radius: 4px 4px 4px 4px
	transition: all 0.5s
	transition-delay: 0.1s
	
	

.sandwich.active 
	.sw-topper
		top: 11px
		transform: rotate(140deg)
	.sw-bottom
		top: 8px
		transform: rotate(-140deg)
	.sw-footer
		opacity: 0
		top: 0
		transform: rotate(180deg)

.m_menu
	text-align: center
	padding: 0


.header
	.logo
		padding-top: 15px
	.logo-desctiption
		border-left: 1px solid #9f9f9f
		padding-left: 25px

	.contact-tel
		padding-top: 10px
		a
			color: #000	

	.mobile_nav
		.mobile_nav__wrap
			position: relative
			height: 50px
			background-color: #3670dc
			margin-bottom: 10px
	.main_nav

		ul.main_menu
			
			padding: 0
			list-style-type: none
			width: 100%
			height: 50px
			background-color: #3670dc
			display: flex
			justify-content: space-around
			align-items: center
			li
				display: inline-block	
				position: relative
				a
					color: #fff
					text-transform: uppercase	
					i
						color: #fff
						margin-left: 10px
		.sub_menu ul

			padding: 0
			position: absolute
			z-index: 100
			top: 135%
			left: 0
			min-width: 130%
			background-color: #ccc
			border-bottom: 4px solid #3670dc

			li
				border-left: 4px solid transparent
				transition: all .25s ease
				&:hover
					border-left: 4px solid #3670dc
				display: block
				a
					color: #000
					padding: 5px 20px 5px 10px



.s-slider
	.item
		position: relative
		.item_text
			position: absolute
			color: #fff
			width: 70%
			top: 50%
			left: 50%
			transform: translate(-50% , -50%)
			.h1
				line-height: 1.4
				font-size: 46px
			p
				font-size: 18px
		.image_wrap
			text-align: center
			img
				width: 100%
				height: auto
				display: inline-block
button
	background-color: #5782c5
	border: none
	padding: 10px 30px
	border-radius: 3px
	transition: color .25s ease
	&:hover
		color: #ccc

.owl-carousel
	position: relative
.owl-nav
	color: #fff
	font-size: 70px
	
	.owl-prev
		position: absolute
		top: 50%
		left: 5%
		transform: translateY(-50%)
		opacity: .7
		transition: all .25s ease
		&:hover
			opacity: 1

	.owl-next
		position: absolute
		top: 50%
		right: 5%
		opacity: .7
		transform: translateY(-50%)
		transition: all .25s ease
		&:hover
			opacity: 1

.owl-theme 
	.owl-dots
		position: absolute
		bottom: 0px
		width: 100%
		text-align: center
		.owl-dot
			width: 15px
			height: 15px
			border: 1px solid #fff
			background-color: #FFF
			display: inline-block
			margin-right: 15px
			border-radius: 50%
			opacity: 0.5
			&.active
				opacity: 1

.s-content
	margin-top: 50px
	ul
		list-style-type: none
		padding: 0
		li
			margin-bottom: 10px
			p.data
				font-size: 12px
				color: #a2a2a2
			a
				text-decoration: underline	


.mail
	background-color: #2d3e4f
	margin-top: 40px
	.mail_wrap
		color: #fff
		display: flex
		justify-content: space-around
		align-items: center
		flex-wrap: wrap
		input
			width: 60%
			color: #000
			border: none
		h3
			text-transform: uppercase
			font-size: 16px
		button
			padding: 4px  20px		

.footer
	margin: 30px 0 20px
	.footer_wrap
		border-top: 1px solid #e8e8e8
		padding: 20px 0
	p
		margin: 0
		margin-left: -15px
	a
		text-decoration: underline	
	.logo-footer
		text-align: right
		margin-right: -15px



.is-no-home
	.s-content
		margin-top: 20px
		ul
			li
				a
					text-decoration: none	
					font-size: 14px
	aside
		border-right: 1px solid #ccc
		display: block	
	ul.breadcrumbs
		li
			display: inline-block
			a
				text-decoration: underline				

@import "media" // Всегда в конце
